.cardContainer {
    width: 24rem;
}

.cardImg {
    width: 90%;
    margin: auto;
}

.cardBody {
    display: flex;
    flex-direction: column;
}

.cardBody .cardButtom {
    min-width: 50%;
    width: 100%;
    margin: 2% auto;
    background: black;
}

.cardTitulo {
    font-size: 20px;
    font-weight: 200;
    text-align: start;
}

.subtitulo {
    font-size: 20px;
    font-weight: bold;
    text-align: start;

}

@media screen and (min-width: 450px) and (max-width: 1187px) {
    .cardContainer {
        width: 9rem;
        
    }
    .cardImg {
        width: 100%;
    }
    .cardBody .cardButtom {
        width: 100%;
        font-size: 13px;
        margin-top: 0;
    }

    .cardTitulo {
        font-size: 14px;
        text-align: start;
        font-weight: bold;
        text-wrap: pretty;
        margin: 0;
    }

    .subtitulo {
        font-size: 20px;
        font-weight: 500;
        text-align: start;
    }
}

@media screen and (max-width: 430px){
    .cardContainer {
        width: 15rem;
        box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.5);
        margin-right: .5rem !important;
    }
    .cardImg {
        width: 100%;
        margin: auto;
    }
    .cardBody .cardButtom {
        min-width: 50%;
        width: 90%;
        margin-top: 5%;

        
    }
    .cardTitulo {
        font-size: 1.38em;
        text-wrap: balance;
        text-align: start;
        font-weight: bold;
        text-wrap: pretty;
        margin: 0;
    }

    .subtitulo {
        font-size: 1.38em;
        font-weight: bold;
        text-align: start;
    }
}