.CarrocelBox{
    /* width: calc(100% - 14%); */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: auto;
}
.carrocelItem {
    width: 100%;
    height: fit-content;    
}

.carrocelItem img{
    width: 100%;
    /* height: 33.5rem; */
    /* object-fit: fill; */
    object-fit: contain;
     /* mudar para cover apos ajustar as imagens com o
    tamanho dcerto de acorco com o figma
    */
}
.CarrocelControl{
    color: black;
    filter: drop-shadow(1px 0px 1px black);
}

/* Estilos para dispositivos com largura de tela de até 600 pixels */
@media screen and (max-width: 768px) {
 
}

/* Estilos para dispositivos com largura de tela de até 900 pixels */
@media screen and (min-width: 768px) and (max-width: 1187px) {

    .carrocelItem {
        width: 100%;
        height: fit-content;    
    }
    
    .carrocelItem img{
        width: 100%;
        object-fit: fill; /* mudar para cover apos ajustar as imagens com o
        tamanho dcerto de acorco com o figma
        */
        background: blue;
        /* object-position: 50% 0%;  */
        
    }
}

/* Estilos para dispositivos com largura de tela de mais de 1187 pixels */
@media screen and (min-width: 1187px) {
    
}