.cardBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 5% auto;
    color: black;
}

.cards {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
         justify-content: center;
        text-align: center;
        align-items: center;

    width: calc(95%/4);
    height: 14rem;
    background: rgb(221, 220, 220);
    border-radius: 5px;
    padding: 1rem;

}
.cards a{
    width: 100%;
    text-decoration: none;
    color: black;
}
.cards a:hover, .cards a:active, .cards a:focus {
    text-decoration: none;
    color: black;
  }
.cards img, .cards a  img{
    width: 4rem;
    margin-bottom: 8%;
    margin-top: 2%;
}

.cards h1 , .cards a h1{
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 5%;
    text-decoration: none;
    color: black;
}

.cards h2 {
    font-size: 1.10rem;
    margin-left: 5%;
    font-weight: 600;
    color: rgb(61, 61, 61);
}

@media screen and (max-width: 695px) {

    .cardBox {
        display: grid;

        grid-template-rows: .5fr .5fr;
        grid-template-columns: .5fr .5fr;

        grid-template-areas:
            'card1 card2'
            'card3 card4';
        margin: 5% auto;
        gap: .1rem;
    }

    .cards {
        width: 95%;
        height: 95%;
        margin: 5% auto;
        padding: 1%;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .cards img {
        margin-left: 5% !important;
        width: 40%;
        margin: 2%;
    }

    .cards h1 {
        font-size: 120%;
        font-weight: bold;
        width: 98%;
        margin: 0 auto;
    }

    .cards h2 {
        font-size: 100%;
        margin-left: 5%;
        font-weight: 600;
        color: rgb(61, 61, 61);
    }

    #cardAgilidade {
        grid-area: card1;
    }

    #cardCB {
        grid-area: card2;
    }

    #cardSeguranca {
        grid-area: card3;
    }

    #cardAtedimento {
        grid-area: card4;

    }
}



/* @media screen and (min-width: 0px) and (max-width: 363px ){
    .cardBox{
        background-color: red;
    }
} */

@media screen and (max-width: 292px)  {
    .cardBox {
        display: grid;

        grid-template-rows: .5fr .5fr .5fr;
        grid-template-columns: .9fr;

        grid-template-areas:
            'card1 '
            'card2'
            'card3 '
            'card4';
        margin: 5% auto;
        gap: .2rem;
    }

    .cards {
        width: 100% !important;
        height: 95%;
        margin: 5%  auto;
        padding: 0%;
    }

    .cards img {
        margin-left: 5% !important;
        margin: 2%;
    }

    .cards h1 {
        font-size: 1.2rem;
        font-weight: bold;
        width: 98%;
        margin: 0 auto;
    }

    .cards h2 {
        font-size: 0.8rem;
        margin-left: 5%;
        font-weight: 600;
        color: rgb(61, 61, 61);
    }
}