.cardServicos {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background: rgb(221, 220, 220);
    margin: 5% auto;
}

.imagemCard {
    width: 50%;
}

.textosServicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-inline: 4%;
}

.textosServicos h1 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 5%;
}

.textosServicos p {
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.textosServicos a {
    text-decoration: underline !important;
    color: black;
}

.textosServicos a:checked {
    color: black;
}

.tituloIphone {
    width: 85%;
    margin: 1% auto;
    font-size: calc(2rem - 10%);
    font-weight: bold;
}

@media screen and (min-width: 867px) and (max-width: 1259px) {
    .cardServicos {
        height: fit-content;
    }

    .imagemCard {
        width: 50%;
        object-fit: cover;
    }

    .textosServicos h1 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1%;
    }

    .textosServicos p {
        font-size: 14px;
        font-weight: 200;
        color: black;
    }

    .textosServicos a {
        text-decoration: underline !important;
        color: black;
        margin-bottom: 5%;
    }

    .textosServicos a:checked {
        color: black;
    }

    .tituloIphone {
        width: 85%;
        margin: 1% auto;
        font-size: calc(2rem - 10%);
        font-weight: bold;
    }

}


@media screen and (min-width: 431px) and (max-width: 867px) {

    .textosServicos h1 {
        font-size: 1.5rem;
    }

    .textosServicos p {
        font-size: 14px;
        font-weight: 200;
        color: black;
    }
}

@media screen and (max-width: 430px) {

    .textosServicos h1 {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
    }

    .textosServicos p {
        font-size: .8rem;
        font-weight: 600;
        color: black;
        text-align: justify;
        margin: 2% auto;
        
    }
 
    .textosServicos a {
        font-size: .8rem;
        font-weight: lighter;
        font-style: italic;
    }
    .cardServicos {
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        background: rgb(221, 220, 220);
        margin: 5% auto;
    }
    .imagemCard {
        width: 100%;
    }
    .textosServicos{
        margin: 5% auto;
        width: 90%;
    }

}