.containerDivulgacoes {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
  box-shadow: 0 0 10px 4px rgb(0, 0, 0, 0.2);
}

.boxConteudos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: auto;
}

.textos {
  width: 40%;
}
.containerDivulgacoes h2 {
  font-weight: bold;
  font-size: 3rem;
  text-align: justify;
}
.containerDivulgacoes p {
  margin-top: 15%;
  text-align: justify;
  font-size: 1.5rem;
}
.botaoMoldal{
   width: fit-content !important;
   padding: 0 !important;
   border: none !important;
   margin: 0 !important;
   width: 100% !important;

}

@media screen and (min-width: 867px) and (max-width: 1259px) {

}

@media screen and (min-width: 0px) and (max-width: 867px) {
  .containerDivulgacoes{
    width: 90%;
    padding: 2%;
  }
  
    .boxConteudos {
    flex-direction: column-reverse;
  }

  .textos {
    width: 80%;
   
  }
  .textos h2 {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: justify;
  }
  .textos p {
   display: none;
  }
  .boxConteudos img{
    width: 100%;
  }

}
